*, input, a {
    margin: 0px;
    padding: 0px;
    outline: none;
    color: black;
    font-size: 16px;
    list-style: none;
    border-spacing: 0px;
    text-decoration: none;
    font-family: 'Verdana';
    box-sizing: border-box;
}
body {
    background-image: url(../img/mosquitoFondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}
body::-webkit-scrollbar-horizontal {
    background-color: blueviolet;
}
.dreg {
    position: absolute;
    top: 0px;
    left: 0px;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}
.home-img {
    height: 60px;
}
.home-header {
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: 0.3s;
}
.fondoNegro {
    background-color: black;
    transition: 0.3s;

}
.home-nav {
    display: flex;
}
.home-option {
    padding: 0px 20px;
}
.gf1 {
    border-left: 1px solid transparent;
    transition: 0.3s;
}
.gf2 {
    border-left: 1px solid transparent;
    transition: 0.3s;
}
.gf3 {
    border-left: 1px solid transparent;
    transition: 0.3s;
}
.gf4 {
    border-left: 1px solid transparent;
    transition: 0.3s;
}
.borderLeft {
    border-left: 1px solid white;
    transition: 0.3s;
}
.home-link {
    padding: 3px;
    color: white;
    border-bottom: 1px solid transparent;
    transition: 0.5s;
}
.home-link:hover {
    color: rgb(0, 255, 0);
    border-bottom: 1px solid rgb(0, 255, 0);
    transition: 0.5s;
}
.content {
    margin: 93px 10px 10px 10px;
    color: white;
}
.home-section {
    width: max-content;
    margin: 0px auto;
}
.home-article {
    background-color: white;
    width: max-content;
    padding: 25px;
    border-radius: 20px;
    margin: 0px 0px 30px;
}
.home-article-img {
    height: 350px;
    min-width: 600px;
    border-radius: 10px 10px 0px 0px;
}
.home-article-info-title {
    font-size: 28px;
    max-width: 600px;
    padding: 10px 0px;
    border-bottom: 1px solid black;
    text-transform: capitalize;
}
.home-article-info-content {
    font-size: 20px;
    max-width: 600px;
    padding-top: 5px;
}