*, input, a {
    margin: 0px;
    padding: 0px;
    outline: none;
    color: black;
    font-size: 16px;
    list-style: none;
    border-spacing: 0px;
    text-decoration: none;
    font-family: Verdana;
    box-sizing: border-box;
}
body {
    background-color: rgb(235, 235, 235);
    min-height: 100vh;
}
body::-webkit-scrollbar {
    background-color: rgb(235, 235, 235);
    width: 12px;
}
body::-webkit-scrollbar-thumb {
    background-color: rgb(30, 30, 30);
}
.header-homeUser {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid grey;
}
.img-homeUser {
    height: 50px;
    margin-right: 10px;
}
.header-group-homeUser {
    font-size: 12px;
    color: grey;
}
.link-1-homeUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-homeUser {
    font-size: 20px;
    font-weight: bold;
}
.aside-homeUser {
    position: fixed;
    top: 71px;
    left: 0px;
    min-height: 100vh;
    width: 250px;
    background-color: rgb(20, 20, 20);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: default;
}
.content-homeUser {
    padding: 81px 10px 10px 260px;
    min-height: 100vh;
    width: 100%;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.title-user-homeUser {
    background-color: rgb(30, 30, 30);
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.img-2-homeUser {
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}
.nameUser-homeUser {
    color: white;
}
.estado {
    color: rgb(0, 255, 0);
    font-size: 12px;
    margin-top: 3px;
}
.nav-homeUser {
    margin-top: 30px;
}
.link-3-homeUser {
    padding: 20px;
    width: 250px;
    display: inline-block;
    color: white;
}
.li-homeUser {
    background-color: transparent;
    transition: 0.3s;
}
.li-homeUser:hover {
    background-color: rgb(30, 30, 30);
    transition: 0.3s;
}
.table-account {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    border: 1px solid grey;
}
.lk {
    padding: 7px;
}
td, th {
    padding: 12px;
    text-align: center;
}
.n {
    border-bottom: 1px solid grey;
}
.g {
    transition: 0.3s;
}
.g:hover {
    background-color: rgb(235, 235, 235);
    transition: 0.3s;
}
.j {
    border-bottom-left-radius: 15px;
}
.jk {
    border-bottom-right-radius: 15px;
}
.update-account {
    border: none;
    text-align: center;
    width: 300px;
}
form {
    width: 100%;
}
.submit-update {
    padding: 10px;
    border: none;
    background-color: rgb(9, 71, 163);
    color: white;
    transition: 0.3s;
}
.submit-update:hover {
    transition: 0.3s;
    background-color: rgb(8, 49, 110);
}
.error-message {
    background-color: red;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 2px;
}
.success-message {
    background-color: green;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 2px;
}